<div class="upload-form">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <input class="image-select-input container-spacing" type='file' (change)="readURL($event)" #uploadInput
             accept="image/*"/>
      <div class="image-container container-spacing">
        <img src="" #preview/>
      </div>
      <div #gmap class="map"></div>
      <div class="description-container container-spacing">
      <textarea
        name="description"
        id="description"
        formControlName="description"
        ngModel
        required
        placeholder="Description..."
      ></textarea>
      </div>
      <div class="date-picker-container container-spacing">
        <my-date-picker [options]="myDatePickerOptions"
                        [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}"></my-date-picker>
      </div>
      <div class="tags-container container-spacing" formArrayName="tags">
        <div
          *ngFor="let tag of form.get('tags').controls; let i = index"
          [formGroupName]="i" class="tag-container">
          <input
            type="text"
            formControlName="text"
            placeholder="Add a tag..."
          >
        </div>
        <div>
          <button
            class="button"
            type="button"
            (click)="onAddTag()">Add another tag
          </button>
        </div>
      </div>
      <hr>
      <button class="button" type="submit" [disabled]="!f.valid">Upload Image</button>
    </form>
  </div>
</div>
